body {
  background: white;
  color: black;
  vertical-align: middle;
  text-align: center;
}

.heroimg {
  width: 300px;
  height: 220px;
  border: 10px solid black;
}
  
p {
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#contact {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: helvetica;
}

#socialimg {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100px
  height: 100px;
  padding-top: 50px
}

h1 {
  vertical-align: middle;
  text-align: center;
}

h2 {
  vertical-align: middle;
  text-align: center;
}

nav {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-family: helvetica
}

a {color: #41A317;
text-align: center}