body {
  background: white;
  color: black;
}

.heroimg {
  width: 100%;
  height: 10%;
  border: 10px solid black;
}
  
p {
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#contact {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: helvetica;
}

#socialimg {
  display: inline;
  vertical-align: middle;
  text-align: center;
  width: 100px
  height: 100px;
}

h1, h2, h3 {
  vertical-align: middle;
  text-align: center;
  text-decoration: underline;
}

nav {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-family: helvetica
}

a {color: #41A317;
text-align: center}